{{template "base" .}}

{{define "content" }}
    <div class="contaniner">
        <div class="row">
            <div class="col">
                <h1>This is our homepage</h1>
                <p>This is the text</p>
            </div>
        </div>
    </div>
{{end}}